#rotate{
	-webkit-transform:rotate(180deg);
}
@-webkit-keyframes rotate{
  0%{
    transform:rotate(25deg);
    font-size:20x;
  }
  25%{
    transform:rotate(50deg);
    font-size:50;
  }
  50%{
    transform:rotate(90deg);
    font-size:90px;
  }
  75%{
    transform:rotate(160deg);
    font-size:100px;
  }
  100%{
    transform:rotate(180deg);
    font-size:1px;
  }
}

#skew{
	-webkit-transform:skew(100px);
}

#all{
    -webkit-transform:rotate(160);
    -webkit-transform:skewX(180);
}


#matrix{
	  -webkit-animation:everything;
    -webkit-animation-duration: 1s;
	  -webkit-animation-iteration-count:infinite;
}


@-webkit-keyframes fadeIn{
	from{
		opacity:0;
	}
	to{
		opacity:100%;
	}
}

#animate{
	  -webkit-animation:fadeIn;
    -webkit-animation-duration:5s;
    -webkit-animation-iteration-count:infinite;
}

#pseudo2:focus{
    -webkit-background-color:skyblue;
}
@-webkit-keyframes FiveStages{
	0%{
        color:white;
        font-size:10px;
	}

	20%{
        color:gray;
        font-size:25px;
	}

	40%{
        color:black;
        font-size:50px;   
	}

	60%{
        color:purple;
        font-size:100px;
	}

	80%{
        color:violet;
        font-size:200px;
	}

	100%{
        color:pink;
        font-size:400px;
	}
}

#FiveStageKeyFrame{
        -webkit-animation:FiveStages;
        -webkit-animation-duration: 7s;
        -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes rotate{
  0%{
    transform:rotate(0deg);
    font-size:100px;
  }
  25%{
    transform:rotate(90deg);
    font-size:300px;
  }
  50%{
    transform:rotate(180deg);
    font-size:500px;
  }
  75%{
    transform:rotate(270deg);
    font-size:1000px;
  }
  100%{
    transform:rotate(360deg);
    font-size:1px;
  }
}


#rotate{
        -webkit-animation:rotate;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count:infinite ;
}